export(colours_GUI)
export(descriptionFOI)
export(fnamesFOI)
export(is.FeaturesOfInterest)
export(is.FoICollection)
export(pRolocGUI)
import(pRoloc)
import(pRolocdata)
import(shiny)
importFrom(digest,digest)
importFrom(tools,file_ext)
